.is-dark{
  background-image: linear-gradient(hsl(204, 86%, 53%) , hsl(171, 100%, 41%));
}

#book-search-app {
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: rgb(36, 4, 66);;
  padding-top: 50px;
}

.control {
  color: rgb(36, 4, 66);;
}

#display-list {
  justify-content: center;
  text-align: center;
}

#display-img {
  justify-content: center;
  text-align: center;
}

#isbn-footer{
  color: rgb(36, 4, 66);
}

#display-result {
  justify-content: center;
}

#book-title1,#book-title2, #book-title3 {
  font-family: Cursive;
  font-size: 30px;
  color: darkgreen;
  text-decoration: underline;
}

#isbn-author-display, #isbn-title-display, #isbn-number-display{
  color: darkgreen;
}

#isbn1, #isbn2, #isbn3{
  color: darkgreen;
}

#isbn-footer {
  color: rgb(36, 4, 66);
}